<%= form_for(@event) do |form| %>
    <div class="title_field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="date_field">
      <%= form.label :date %>
      <%= form.datetime_select :date %>
    </div>
  
    <div class="desc_field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="location_field" >
    <%= form.label :location %>
    <%= form.text_field :location %>
    </div>
  
    <div class="action">
      <%= form.submit "Update event" %>
    </div>

<% end %>

