<% @users.each do |user| %>
  <h2><%= user.email %>'s Created Events:</h2>
  <ul>
     <% user.attended_events.each do |attended_event| %>
      <%= attended_event.creator.email %>
      <% if current_user.email == attended_event.creator.email %>
      <li><%= link_to attended_event.title, edit_event_path(attended_event) %> on <%= attended_event.date %></li>
      <%= button_to "Delete", delete_event_event_path(attended_event), method: :delete, data: { turbo: false } %>
      <% else %>
      <li><%=attended_event.title %> on <%= attended_event.date %></li>

      <p>Sorry you cannot edit this event</p>
      <%= button_to "Delete", delete_event_event_path(attended_event), method: :delete, data: { turbo: false } %>

      <% end %>
      <% end %>
      
  </ul>
  <% user.events.each do |event| %>
    <p>
      Title: <%= event.title %><br>
      Date: <%= event.date %><br>
      Location: <%= event.location %><br>
      Description: <%= event.description %><br>
      Attendees:
      <% event.attendees.each do |attendee| %>
        <%= attendee.email %>
      <% end %>
    </p>
    <% if current_user.attended_events.include?(event) %>
      <%= button_to 'Leave Event', unattend_event_event_path(event), method: :delete %>
    <% else %>
      <%= button_to 'Join Event', attend_event_event_path(event), method: :post %>
    <% end %>
    <hr>
  <% end %>
<% end %>


<%= form_with url: create_new_event_path, model: @event, local: true do |form| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="title_field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="date_field">
      <%= form.label :date %>
      <%= form.datetime_select :date %>
    </div>
  
    <div class="desc_field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="location_field" %>
    <%= form.label :location %>
    <%= form.text_field :location %>
    </div>
  
    <div class="action">
      <%= form.submit "Create event" %>
    </div>
  <% end %>
  
<h2>Your Attended Events</h2>

<h3>Your past Events</h3>

  <% @past_events.each do |past_event| %>
    <br>
    <%= past_event.title %> on <%= past_event.date %>
    Location: <%= past_event.location %>
  <% end %>

<h3>Your upcomeing Events</h3>
<% @upcome_events.each do |upcome_event| %>
  <br>
  <%= upcome_event.title %> on <%= upcome_event.date %>
  Location: <%= upcome_event.location %>
<% end %>

